#mainContainer{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, hsla(211, 79%, 30%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#104A87", endColorstr="#FFFFFF", GradientType=1 );
}

#mainContainer > img {
    height: 100px;
}

.wrapperContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: thin;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    margin: 40px;
    background-color: #104a87;
}

#img-container{
    height: 40vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
    background: url('../../../public/login.svg');
    background-color: #104a87;
    background-size: cover;
    margin: 0 40px;
}

.loginFormWrapper{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 1rem;
    padding-right: 20px;
    padding-top: 30px;
    background-color: #fff;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

#inputButton{
    width: 250px;
    background-color: #104a87;
}