.guestHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('../../../public/background-login.jpg');
    background-size: cover;
  }
  
  .content {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 3rem;
    color: #104a87;
    margin-bottom: 0.5rem;
  }
  
  .description {
    font-size: 1.5rem;
    color: #024d63;
    margin-bottom: 1rem;
  }

  #login-btn {
    background-color: #104a87;
    margin-top: 1rem; 
    padding: 0.7rem 4rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    border-color: #104a87;
  }

  #register-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #register-btn{
    margin-left: 8px;
    color: #104a87;
  }
  